.goals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oneGoal{
    margin: 20px;
    padding: 10px;
    background-color:#feff9c;
    box-shadow:5px 5px 5px 5px rgba(33,33,33,0.6);
    text-align: left;
    position: relative;
}

h3{
    text-align: center;
    font-family: 'Kalam';
    font-size: 30px;
}

.goalsDisplay{
    font-family: 'Kalam';
}