.Dates {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    column-gap: 2%;
    margin-right: 2%;
}

.create-btn {
    margin-left: 85%;
    margin-bottom: 4%;
}

button{
    font-family: 'Kalam';
}

.btn-primary{
    font-size: 25px;
    padding: 35px 35px 70px 35px;
}